
body {
  background: rgb(94,149,186); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(94,149,186,1) 1%, rgba(0,114,191,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(94,149,186,1) 1%,rgba(0,114,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(94,149,186,1) 1%,rgba(0,114,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e95ba', endColorstr='#0072bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vh
}

form {
  position: absolute;
  top: 50%;
  left: 40%;
}

input[placeholder] {
  text-align: center;
  font-weight: bold;
  color: black;
}

h1 {
  position: absolute;
  top: 40%;
  left: 40%
}
h2 {
  position: fixed;
  left: 2%;
  top: -4%;
  height: 20%;
  font-size: 500%;
  color: white;

}

img {
  position: fixed;
  right: 1%;
  top: 0%;
  height: 20%;
  width: auto;
}

.cityname{
  position:fixed;
  font-size: 500%;
  color: white;
  top:0;
  left: 38%;
}


@media only screen
and (max-width : 450px) {
  img {
    position: fixed;
      height: 10%;
      width: auto;
  }
  h2 {
    top: -2%;
    height: 10%;
    font-size: 250%;
  }
  button {
    position: absolute;
    width: 30%;
    padding: 11% 0;
    font-size: 0;
  }
  input {
    width: 50%;
  }
  h1 {
    font-size: 100%;
    top: 45%;
    left: 70%
  }
  form {
    left: 80%
  }
  .cityname{
    position: fixed;
    font-size: 250%;
    left: 38%;
  }
}
